@font-face {
    font-family: "Gotham Rounded";
    src: url("/assets/fonts/gotham-rounded-bold.ttf");
}


.book .book-body .page-wrapper .page-inner h1 {
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book .book-body .page-wrapper .page-inner h2 {
  font-family: "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
}